<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
   
      <mat-nav-list appNavigableList>
        <mat-list-item 
          *ngFor="let item of projets"
         >
          <button class="button-18"  (click)="onSelected(item.nom_projet)">{{ item.nom_projet }}
          
          </button>
       </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <button>
        <a *ngFor="let route of routes"
        mat-list-item  
  [routerLink]="route.path" 
  > 
  <ng-container *ngIf="route.label === 'Creer un nouveau projet'">
  {{route.label}}
  
  </ng-container>
  </a>
  
      </button>
        
      
    
    </mat-drawer>
    <mat-drawer-content>Main content
     
     
    </mat-drawer-content>
      
    
  </mat-drawer-container>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  