/* 
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  

  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
 
  .active {
    background-color: green;
    color: white;
  }
  
    .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  

  
.button-18 {
  align-items: center;

  border: 0;
  border-radius: 8px;
  box-shadow: rgba(127, 252, 65, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: blue;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-18:active,
.button-18:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-18 {
    font-size: 24px;
    min-width: 196px;
  }
}
h4
{
  font-size: 25px;
  text-shadow: -1px -1px rgb(0, 129, 204), 1px 1px #060, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(0, 46, 153);
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;

  margin:16px;

   
}
mat-divider {

  margin-top: 16px;

  margin-bottom: 16px;

  background-color: rgba(255, 255, 255, 0.5);

}

.example-container {
  width: 100%;
  height: 100%;

/* } 

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
} */

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}